.shadow-lg {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .text-primary {
    color: #1d4ed8;
  }
  
  .text-muted {
    color: #6b7280;
  }
  



.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    background-color: #fff;
}



.profilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
   
}

.uploadInput {
    margin-bottom: 10px;
    padding: 10px;
    /* border: 1px solid #0070f3; */
    border-radius: 5px;
    cursor: pointer;
}

.studentName {
    font-size: 1.5em;
    margin: 5px 0;
}

.studentId {
    font-size: 1.2em;
    color: #555;
    margin: 5px 0;
}

.qrCode {
  width: 100px; 
  height: 100px;
  /* border: 2px solid #1d4ed8; 
  border-radius: 10px; 
  padding: 5px;  */
  margin-top: 15px;
  cursor: pointer; /* Maintain clickability */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation for hover effect */
}

.qrCode:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add a shadow for emphasis */
}


.editButton {
  background-color: #4f46e5;
 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  text-align: center;
}

.editButton:hover {
  background-color: #153e9f;
  
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.cardTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  padding: 0 10px; /* Add some padding for spacing */
}

.joiningDate,
.completedClasses {
  font-size: 0.8em; /* Smaller font size */
  font-weight: 500; /* Lighter weight for a cleaner look */
  color: white;
  padding: 5px 8px; /* Smaller padding */
  border-radius: 12px; /* Rounded corners for a pill-like shape */
  display: flex;
  align-items: center;
  gap: 5px; /* Space between icon and text */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); /* Subtle shadow */
}

.joiningDate {
  /* background-color: #1d4ed8;  */
  background-color: #4f46e5;
}

.completedClasses {
  /* background-color: #10b981;  */
  background-color: #059669;
}



/* QR modal */

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;  
  max-height: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

